name: App deploy

on:
  push:
    branches: 
      - main
env:
  APP_FOLDER: kabelkrant-manager

jobs: 
  deploy-application:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
      - name: Bumb package version
        working-directory: ${{ env.APP_FOLDER }}
        run: |
          npm version patch
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "Bumb package version bot"
          git commit -m "Update package.json version" -a
          git push
      - name: Generate executable and deploy
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        working-directory: ${{ env.APP_FOLDER }}
        run: |
          npm install
          npm run publish
